<h2 class='section-title'>Qui sommes-nous ?</h2>

<div class="content-container">
    <div class="content size_2third">
        <p><b>Radiance</b> est une association loi 1901 créée en 2024. Notre objectif est de faire vivre la communauté
            francophone
            du jeu vidéo Dota 2 à travers des tournois en ligne et en présentiel.</p>

        <p>Nous comptons parmi nous une dizaine de bénévoles, fervents joueurs de Dota 2 ou simple curieux de
            l’organisation de tournois et d’eSport. </p>

        <p>L’association Radiance organise chaque année un grand tournoi eSport en réseau local : la Radiance LAN. Cet
            événement constitue la seule compétition à échelle nationale dédiée à Dota 2 en France.</p>
    </div>

    <div class="content size_1third">
        <div class="discord">
            <a href="https://discord.com/invite/mcdVebJYXb" target="_blank" class="discord-qrcode">
                <img src="{{ asset('images/discord.webp') }}" alt=""/>
            </a>
            <div class="discord-content">
                <span class="discord-infos">Infos</span>
                <span class="discord-infos">Annonces</span>
                <span class="discord-infos">Règlement</span>
                <div class="discord-join">
                    <span>Rejoignez le discord Radiance !</span>
                    <img src="{{ asset('images/icons/arrow.webp') }}" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
