<div class="content size_full">
    <h1>Votre tournoi Dota 2 commence ici</h1>

    <p class="text-center">Participez à la Radiance LAN, compétition francophone sur le jeu Dota 2 en réseau
        local</p>
</div>
