<h2 class='section-title'>Radiance LAN 2025</h2>

<div class="content-container">
    <div class="content size_2third">
        <p class="text-center">Le tournoi Dota francophone à ne pas manquer</p>
        <div class="announcement">
            <p class="text-center">Le tournoi n’a pas encore été officiellement annoncé.<br>Revenez plus tard pour plus
                d’infos.</p>
        </div>
    </div>
</div>
