<h2 class='section-title'>Nos engagements</h2>

<div class="content-container">
    <div class="content size_full">
        <p class="text-center">Nous avons créé l’association Radiance dans le but de <b>promouvoir et développer la
                scène compétitive de Dota 2 en France.</b></p>
        <p class="text-center">Nous souhaitons promouvoir des compétitions équitables et inclusives pour les joueurs,
            dans un environnement de jeu sûr et respectueux.</p>
    </div>
</div>

<div class="content-container">
    <div class="content size_half">
        <h3 class='section-subtitle'>Respect</h3>
        <p>Nous croyons qu’un environnement respectueux est la clé d’un véritable esprit de compétition. Chaque joueuse
            et chaque joueur mérite d’évoluer dans un cadre bienveillant, où la passion du jeu prime sur toute forme
            d’hostilité.</p>
    </div>

    <div class="content size_half">
        <h3 class='section-subtitle'>Inclusion</h3>
        <p>Quel que soit l’âge, le genre ou les origines sociales des participants, nous leur offrons un espace où ils
            peuvent vivre une expérience compétitive en toute sérénité.</p>
    </div>
</div>

<div class="content-container">
    <div class="content size_half">
        <h3 class='section-subtitle'>Fair-play</h3>
        <p>Jouer avec intégrité, accepter la victoire avec humilité et la défaite avec dignité. Nous valorisons le
            talent des joueurs et luttons contre toute forme de triche, de provocation ou de comportement toxique.</p>
    </div>

    <div class="content size_half">
        <h3 class='section-subtitle'>Partage</h3>
        <p>Les tournois que nous organisons sont des espaces de rencontre où les joueuses et les joueurs se réunissent
            pour partager une passion commune. Nous croyons en un eSport qui rassemble et fait naître des amitiés.</p>
    </div>
</div>